<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div>
      <form>
        <label>Actor Name:</label><br />
        <input type="text" id="actorName" placeholder="Actor Name" /><br />
        <label>Actor Image:</label><br />
        <input type="text" id="actorImage" placeholder="Actor Image" /><br />
        <label>Actor Bio:</label><br />
        <input type="text" id="actorBio" placeholder="Actor Bio" /><br />
      </form>
      <button type="button" id="submitMovie">Submit</button>
    </div>
  </body>
</html>
